footer {
	
	background: $dark-bg;

	.logo {
		z-index: 2;		
		position: relative;
		display: inline-block;
		img {
			width: 257px;
			@media only screen and (max-width: 639px) {
				//width: 200px;
			}
		}
	}
	.logo-outer {
		
	}
	.footer-top {
		h4 {
			color: $white;
		}
		p, a, span {
			color: $white;
			font-weight: 500;
		}
		.blue {
			color: $blue;
		}
		p:first-child {
			margin-top: 0;
		}
		a {
			&:hover {
				color: $blue;
			}
		}
		.newsletter-outer {
			//max-width: 467px;
		}
		.menu-btn {
			font-size: 14px;
		}
		.uk-navbar-nav {
			flex-direction: column;
			display: block !important;
			li {
				margin-left: 0;
				padding-left: 0;
				
			}
			.deeper {
				.nav-child {
					display: none;
				}
			}
		}
		.uk-navbar-nav > li > a{
			min-height: auto;
			justify-content: left;
			padding-left: 0;
			padding-right: 0;
			font-family: $font1;
			font-size: 16px;
			text-transform: capitalize;
			
		}
		.totop {
			text-align: right;
			svg {
				display: none;
			}
		}
	

	}	
	form {
		.uk-input {
			//width: 300px;
			border:0;
			border-bottom: 1px solid $grid-border;
			background: transparent;
			color: $grid-border;
			font-size: 14px;
			padding-left: 0;
			padding-right: 20px;
		}
		.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
		    outline: 0;
		    background-color: transparent;
		    color: #666;
		    border-color: none;
		}
		.uk-form-controls {
			display: flex;
		}
		.uk-margin {
			margin-top: 20px;
		}
		.uk-input::placeholder{
		    color: rgba(255, 255, 255, 0.5);
		}
		.submit {
			width : 15px;
			height: 16px;
			background-image: url(../images/icon/submit-arrow.svg);
			background-repeat:  no-repeat;
			background-position: 50%;
			border: none;
			background-color: transparent;
			height: 38px;
			margin-left: -14px;
		}
	}
	.footer-bottom, .footer-middle{
		color: $text-color-grey;
		font-size: 14px;
		font-weight: 500;
		.grid-container {
			border-top: 1px solid $grid-border;
		}
		.footer-copyright {
			padding-top: 20px;
			padding-bottom: 20px;
			@media only screen and (max-width: 639px) {
				display: flex;
				flex-direction: column;
			}
		}
		a {
			color: $text-color-grey;
			font-size: 14px;
			&:hover {
				color: $blue;
			}
		}
		span + span {
			float: right;
		}
	}
	.footer-middle {
		.grid-container {
		    border-top: 0px solid #666666;
		}
		.icon-outer{
			display: inline-block;
			background-repeat: no-repeat;
			width: 30px;
			height: 30px;
			background: $white;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content:center;
			margin-left: 10px;
			&:hover {
				
			}
			span {
				color: #000;
			}
		}
		span + span {
		    float: right;
		    display: flex;
		}
	}
}

