.home-banner,.product-video{
	height: calc(100vh - 47px);
	position: relative;
	width: 100%;
	overflow: hidden;
	background-image: url('/images/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	@media only screen and (max-width: 768px) {
		height: calc(100vh - 47px);
	}
	
	video {
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		@media only screen and (max-width: 639px) {
			
		}
	}
	.scrollto {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%);
		.icon {
		    color: $blue;
		    display: flex;
		    position: relative;
		    width: 1.5rem;
		    height: 2.5rem;
		    border: 2px solid $blue;
		    border-radius: 1rem;
		    justify-content: center;
		    &:before {
			    content: "";
			    position: absolute;
			    top: .3125rem;
			    width: .35rem;
			    height: .35rem;
			    background: currentcolor;
			    border-radius: 100%;
			    animation: scrollhint 2s infinite;
			}
		}
		@keyframes scrollhint {
			0% {
			    transform: translate(0,0);
			    opacity: 0;
			}
			40% {
			    opacity: 1;
			}
			80% {
			    transform: translate(0,1.5rem);
			    opacity: 0;
			}
			100% {
			    opacity: 0;
			}
		}
	}
	
}
.mod-banner {
	position: relative;
	height: calc(100vh - 80px);
	background-image: url('/images/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	h1 {
		font-size: 66px;
		line-height: 77px;
		font-weight: bold;

		@media only screen and (max-width: 1470px) {
			font-size: 56px;
			line-height: 67px;
			padding-left: 15px;
			padding-right: 15px;
		}
		@media only screen and (max-width: 768px) {
			font-size: 46px;
			line-height: 57px;
		}
		@media only screen and (max-width: 639px) {
			font-size: 36px;
			line-height: 47px;	
		}
	}
	.content {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.content-inner {
			max-width: 715px;
			text-align: center;
			h1 {
				color: $white;
			}
		}
	}
	
}
.banneritem {
	    display: flex;
    	align-self: center;
    	img {
    		max-width: 240px;
    		max-height: 105px;
    		@media only screen and (max-width: 639px) {
    			width: 100%;
    		}
    	}

	}
.page-header-1 {
	padding-top: 300px;
	padding-bottom: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	@media only screen and (max-width: 1470px) {
		padding-top: 200px;
		padding-bottom: 200px;
	}
	@media only screen and (max-width: 1100px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	p,h1,h4, a {
		color: $white;
	}
	a {
		&:hover {
			color: $blue;
		}
	}
	p{
		margin-bottom: 10px;
	}
}
.page-header-2 {
	text-align: center;
	h5 {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}
.page-header-2-image {

	img {
		border-radius: 15px;
	}
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top:0;
		left: 0;
		background: $light-bg;
		height: 60%;
		width: 100%;
		z-index: -1;
	}
}
.mod-about {
	.content {
		max-width: 580px;
		p {
			max-width: 415px;
		}
	}
	.uk-grid {
		@media only screen and (max-width: 639px) {
			flex-direction: column-reverse;
		}
	}
}
//.mod-about-2 {
	.video-wrap {
		border-radius: 20px;
		position: relative;
		img {
			border-radius: 20px;
		}
		.play {
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);
			svg {
				@media only screen and (max-width: 639px) {
					width: 60px;
					height: 60px;
				}
			}

		}
		svg {
			fill {
				@extend .transition300ms;
			}
			
		}
		a:hover {
			svg {
				.circle{
					fill: $white;
				}
				.arrow {
					fill: $red;
				}
			}
		}
	}
//}

.mod-about-3 {
	ul {
	  columns: 2;
	  -webkit-columns: 2;
	  -moz-columns: 2;
	}
	img {
		@media only screen and (max-width: 639px) {
    		display: none;
    	}
	}
}
.mod_partner {
	.intro {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}
.card-1 {
	border: 1px solid $grid-border-2;
	border-radius: 15px;
	padding: 30px;
	.icon { 
		margin-right: 10px;
	}
	.location {
		max-width: 208px;
		margin-left: 27px;
		position: relative;
		display: inline-block;
	}
	.addeventatc {
		box-shadow: none !important;
		background-image: none;
		font-family: $font1 !important;
		color: $blue !important;
		font-weight: normal !important;
		padding: 0px 0px 0px 27px !important;
		.addeventatc_icon {
			background: url(../images/icon/plus.svg);
			width: 12px;
			height: 12px;
			left: 0;
			top: 0;
		}
	}
	.button {
		width: 100%;
		text-align: center;
	}
}
.card-map {
	border-radius: 15px;
	overflow: hidden;
	iframe {
		width: 101%;
	}
}
.card-share {
	display: flex;
	.icon-outer {
		width: 30px;
		height: 30px;
		background: $blue;
		color: $white;
		display: flex;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}
}

ul.uk-accordion {
	li {
    	list-style-type: none;
    	margin-left: 0;
    	padding-left: 0;
    }
    .uk-accordion-title {
		font-size: 16px;
		font-weight: 500;
	}
	.uk-accordion-content {
	    margin-top: -10px;
	}
}
.icon {
	display: inline-block;
	position: relative;
	top: 1px;
	&.icon-calender {
		background: url(../images/icon/calender-blue.svg);
		width: 14px;
		height: 14px;

	}
	&.icon-location {
		background: url(../images/icon/location-blue.svg);
		width: 14px;
		height: 21px;
		top: 4px;
	}
	&.icon-member {
		background: url(../images/icon/member-blue.svg);
		width: 21px;
		height: 20px;
		top: 4px;
	}
	&.icon-nonmember {
		background: url(../images/icon/nonmember-blue.svg);
		width: 21px;
		height: 20px;
		top: 4px;
	}
	&.icon-time {
		background: url(../images/icon/time-blue.svg);
		width: 14px;
		height: 14px;
	}
	&.icon-download {
		background: url(../images/icon/download-blue.svg);
		width: 15px;
		height: 15px;
	}
}
.card-event2 {
	.item {

		border: 1px solid #ccc;
	}
}
.card-event, .card-event2 {
	.item {
		border-radius: 15px;
		overflow: hidden;
		background: $white;
		height: 100%;
		position: relative;
	}
	.content {
		padding:20px; 
		display: flex;
		flex-direction: row;
		padding-bottom: 55px;
		&.no-padding-bottom {
			padding-bottom: 30px;
		}
		
	}
	.content-content {

		.readmore {
			position: absolute;
			margin-bottom: 0;
			bottom: 25px;
		}
	}
	
	.time {
		font-size: 11px;
		line-height: 17px;
		color: $text-color;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.content-date {
		width: 25px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		margin-right: 20px;
		.day  {
			font-weight: bold;
			font-size: 21px;
			line-height: 25px;
			color: $text-color;
			margin: 0;
			text-align: center;
		}
		.month{
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 14px;
			color: $red;
			text-transform: uppercase;
			margin: 0;
			margin-top: 8px;
			margin-bottom: 8px;
			text-align: center;
			width: 26px;
		}
	}
	a:hover {
		.readmore {
			color: $blue;
		}
	}
	.subtitle {
		margin-top: 0;
	}
	.icon-outer{
		display: inline-block;
		background-repeat: no-repeat;
		width: 30px;
		height: 30px;
		background: #000;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content:center;
		
		&:hover {
			background: $blue;
		}
		span {
			color: $white;
		}
	}
	._icon-outer + ._icon-outer {
		margin-left: 5px;
	}
	._icon-outer {
		display: inline-block;
	}
	
}
.card-directory {
	.image {
		height: 200px;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $grid-border-2;
	}
	.content-content {
		p{
			display: flex;
			align-items: start;
		}
		.icon-top {
			margin-top: 4px;
			margin-right: 10px;
		}
	}
}
.card-staff {
	.content {
		padding-bottom: 25px;
		.subtitle {
			margin-bottom: 0;
		}
	}
}
.card-member {
	padding: 0;
	border-radius: 15px;
	overflow: hidden;
	border: 1px solid $grid-border-2;
	height: 100%;
	.caption {
	    padding: 50px 70px;
	}
	.subtitle {
		margin-top: -17px;
	}
}
.events-detail {
	.banneritem {
		img {
			max-height: 65px;
		}
	}
}
.events-list {
	.js-filter {
		.uk-subnav {
			display: flex;
			flex-direction: column;
		}
	}
	.filter-original {
		height: 0;
		opacity: 0;
	}
	#filter-btn {
		padding-top: 50px;
		padding-bottom: 30px;
		display: flex;
		justify-content: center;
		@media only screen and (max-width: 639px) {
			padding-top: 20px;
		}
		>div {
			@media only screen and (max-width: 639px) {
				margin-top: 10px;
			}
		}
		
	}
	.select-outer {
		border: 1px solid #000;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 20px;
		@media only screen and (max-width: 800px) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	.uk-select {
		border: none;
		color: $text-color;
		
		
		background: transparent;
		height: 46px;
		line-height: 46px;
		font-family: $font1;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
	}
}
.mod-events {

	.top {
		display: flex;
		align-items: center;
		@media only screen and (max-width: 910px) {
			flex-direction: column;
		}
		h2 {
			display: inline-block;
		}
		#filter-btn{
			padding: 0;
			display: flex;
			margin-left: auto;
			@media only screen and (max-width: 910px) {
				margin-right: auto;
				margin-top: 30px;
			}
			@media only screen and (max-width: 639px) {
				margin-top: 0px;
			}
			>div {
				@media only screen and (max-width: 639px) {
					padding-left: 0;
					margin-top: 10px;
				}
			}
		}
	}
	.slide {
		
			padding: 20px;
			@media only screen and (max-width: 480px) {
				padding: 0px;
			}
		
		
	}
	.slick-track
		{
		    display: flex !important;
		}

		.slick-slide
		{
		    height: inherit !important;
		}
	/**
	 *  Progress Bar
	 */
	.progress {
	  display: block;
	  width: calc(50% - 20px);
	  height: 2px;
	  border-radius: 0px;
	  overflow: hidden;
	  
	  background-color: #d2d2d2;
	  background-image: linear-gradient(to right, black, black);
	  background-repeat: no-repeat;
	  background-size: 0 100%;
	  
	  transition: background-size .4s ease-in-out;
	  @media only screen and (max-width: 480px) {
				display: none;
			}
	}
	.sr-only {
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  padding: 0;
	  margin: -1px;
	  overflow: hidden;
	  clip: rect(0,0,0,0);
	  border: 0;
	}


}
.mod-services {
	.top {
		text-align: center;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
	.grid-container-medium {
		padding-left: 60px;
		padding-right: 60px;
		@media only screen and (max-width: 1230px) {
			padding-left: $mobile-padding-lr;
			padding-right: $mobile-padding-lr;
		}
	}
	.item {
		padding: 50px 20px 20px 20px;
		text-align: center;
		
		height: 100%;
		position: relative;
		border-radius: 15px;
		@media only screen and (max-width:639px) {
			background: $white;

		}
		&:hover {
			background: $white;
			.readmore {
				opacity: 1;
			}
		}
		.image {
			height: 200px;
			display: flex;
			width: 100%;
			align-items: end;
			justify-content: center;
			img {
				height: 200px;
			}
		}
	}
	.readmore {
		position: absolute;
		margin-bottom: 0;
		bottom: 30px;\width: 100%;
		text-align: center;
		left: 0;
		opacity: 0;
		@media only screen and (max-width:639px) {
			opacity: 1;
		}
	}
	.content {
		padding-bottom: 55px;
	}
}
.article-default {
	@media only screen and (max-width: 1000px) {
		overflow: hidden;
	}
	.image {
		img {
			width: 100%;
			height: auto;
		}
	}
	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
	h3 {
	    margin-bottom: 16px;
	}
}
.generalpages-detail {
	.layout2 {
		.article-default {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;

		}
		img {
			border-radius: 15px;
		}
	}
	.layout3 {
		.article-default {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;

		}
		img {
			border-radius: 15px;
		}
		.content-left {
			height: 100%;
			display: flex;
			align-items: center;
			.content-vcenter {

			}
		}
		.layout3-grid {
			&:nth-child(odd) {
			  .content-left {
			  	margin-right: 100px;
			  	@media only screen and (max-width: 800px) {
			  		margin-right: 50px;
			  	}
			  	@media only screen and (max-width: 639px) {
			  		margin-right: 0px;
			  		text-align: center;
			  	}
			  }
			}

			&:nth-child(even) {
			  flex-direction: row-reverse;
			  .content-left {
			  	margin-left: 100px;
			  	@media only screen and (max-width: 800px) {
			  		margin-left: 50px;
			  	}
			  	@media only screen and (max-width: 639px) {
			  		margin-left: 0px;
			  		text-align: center;
			  	}
			  }
			}
		}
	}
	.layout4, .layout5 {
		img {
			margin-bottom: 10px;
			margin-bottom: 10px;
			height: 84px;
			width: auto;
			object-fit: contain;
		}
		.readmore {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		.content {
			height: 100%;
			position: relative;
			padding-bottom: 10px;
		}
		.intro {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;

		}
	}
	.layout-cta {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
}
.annual-reports {
	.button + .button {
		margin-left: 30px;
		@media only screen and (max-width:639px) {
			margin-left: 10px;
		}
	}
	.button {
		@media only screen and (max-width:639px) {
			padding-left: 20px;
			padding-right: 20px;
		}
		.icon {
			margin-right: 10px;
			top: 3px;
			display: inline-block;
		}
		&:hover {
			.icon {
				color: $white;
			}
			.icon-download {
				background: url(../images/icon/download.svg);
			}
		}
	}
}
.com_services {
	.page-header-2-image {
		img {
			max-width: 700px;
			max-height: 500px;
		}
	}
	&.view-details {
		.mod-about-2.bg-white {
			background: $light-bg;
		}
	}
}
.form-outer {
	position: relative;
	@media only screen and (max-width:639px) {
		padding-bottom: 0;
	}
	&:before {
		content: "";
		position: absolute;
		top:0;
		left: 0;
		background: $light-bg;
		height: 100px;
		width: 100%;
		//z-index: -1;
	}
	&:after {
		content: "";
		position: absolute;
		bottom:0;
		left: 0;
		background: #F9F9F9;
		height: calc(100% - 100px);
		width: 100%;
		z-index: -1;
	}
	.grid-container-small {
		z-index: 1;
		position: relative;
		padding: 50px;
	}
	input:required:focus {
	  border: 1px solid red;
	}
	label.error{
	    color: red;
	    font-size: 12px;
	}
}
.mod-map {
	#map {
	  height: 100%;
	  @media only screen and (max-width:639px) {
	  	height: 400px;
	  }
	}

	.icon-outer {
		.icon {
			width: 84px;
			height: 84px;
			background-color: #FFF;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			border-radius: 15px;
			&.icon-network {
				background-image: url(../images/icon/network.svg);
			}
			&.icon-members {
				background-image: url(../images/icon/members.svg);
			}
			&.icon-country {
				background-image: url(../images/icon/country.svg);
			}
			&.icon-business {
				background-image: url(../images/icon/business.svg);
			}
		}
	}
	.item {
		display: flex;
		.item-content {
			display: flex;
			flex-direction: column;
			margin-left: 20px;
			justify-content: center;
		}
		h2, p {
			display: inline-block;
			margin: 0;
		}
		h2 {
			line-height: 37px;
		}
	}
	.item + .item {
		margin-top: 20px;
	}
}
.member-levels-list {
	position: relative;
	.subtitle {
		@media only screen and (max-width: 639px) {
			font-size: 10px;
		}
	}
	&:before {
		content: "";
		position: absolute;
		top:0;
		left: 0;
		background: $light-bg;
		height: 100px;
		width: 100%;
		//z-index: -1;
		@media only screen and (max-width: 800px) {
			height: 50px;
		}
		@media only screen and (max-width: 639px) {
			height: 30px;
		}
	}
	.grid-container {
		z-index: 1;
		position: relative;
	}
	.caption{
		padding: 30px 10px;
		padding-bottom: 80px;
		
	}
	.card-member-outer {
		border-right: 1px solid $grid-border-2;
		border-radius: 0 15px 0 0;
	}
	.card-member { 
		border: 0px;

		position: relative;

		.button {
			position: absolute;
			bottom: 35px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.card-member-benefit-outer {
		border: 1px solid $grid-border-2;
		border-radius: 15px 0 15px 15px;
		overflow: hidden;
		border-bottom: 0;
		p {
			padding: 15px 20px;
			margin: 0;
			border-bottom: 1px solid $grid-border-2;
		}
	}
	.card-member-benefit {
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: center;
		border-bottom: 1px solid $grid-border-2;
		border-left: 1px solid $grid-border-2;
		i { color: $blue;}
	}
	.rsm_container {
		//.caption {
			border-left: 1px solid $grid-border-2;
			border-radius: 15px 0 0 0;

		//}
		
		
	}
	.member-benefit-col {
		align-items: flex-end;
		display: flex;
		justify-content: start;
		padding-bottom: 20px;
	}
	h2.rsm_title {
		@media only screen and (max-width: 639px) {
	    	font-size: 110% !important;
	    }
	}
	h3.rsm_title {
		@media only screen and (max-width: 639px) {
	    	font-size: 14px;
	    }
	}
}
.mod-membership {
	.top {
		max-width: 330px;
		margin-left: auto;
		margin-right: auto;
	}
	.card-member-outer {
		height: 100%;
		position: relative;
		padding-bottom: 60px;
	}
	.card-member { 

		position: relative;
		height: calc(100% - 60px);
		.button {
			position: absolute;
			bottom: 50px;
			left: 50%;
			transform: translateX(-50%);
			@media only screen and (max-width: 800px) {
				bottom: 30px;
			}
		}
	}
	.caption {
		padding: 50px 30px 80px 30px;
		@media only screen and (max-width: 1200px) {
			padding: 40px 30px 80px 30px;
		}
		@media only screen and (max-width: 800px) {
			padding: 20px 20px 80px 20px;
		}
	}
	.card-member-bottom {
		background: #F4F4F4;
		border-radius: 15px;
		padding: 15px 20px;
		margin-top: 20px;
		a{
			display: flex;
			justify-content: space-between;
			align-items: center;
			&:hover {
				.icon-eye {
					background: url(../images/icon/eye-blue.svg);
				}
			}
		}
	}
	.icon-eye {
		background: url(../images/icon/eye.svg);
		width: 25px;
		height: 18px;
	}
}
#rsm_subscribe_login_form, #rsm_subscribe_default_form, #rsm_subscribe_preview_form {
	.uk-input{
		width: 300px;
		margin-bottom: 10px;
		height: 40px;
		vertical-align: middle;
		display: inline-block;
		padding: 0 10px;
		background: #fff;
		color: #666;
		border: 1px solid #e5e5e5;
		transition: .2s ease-in-out;
		    transition-property: all;
		transition-property: color,background-color,border;
		box-sizing: border-box;
		margin: 0;
		margin-bottom: 10px;
		border-radius: 0;
		font: inherit;
		box-sizing: border-box;
	}
	input, select, textarea{
		@extend .uk-input;
	}
	input[type=file] {
		border: none;
		padding-left: 0;
		width: 220px;
	}
	#imgContainer {
		max-width: 100px;
		opacity: 0;
		&.show {
			opacity: 1;
		}
	}
	#jform_memberlogo-lbl, .memberlogo, .logo-upload-btn, #imgContainer, #imgLogoContainer, .logo-upload-error {
		display: none;
	}
	#jform_memberlogoview-lbl, #rsm_memberlogoview {
		display: none;

	}
	#jform_public-directory-choice-lbl, #rsm_public-directory-choice {
		display: none;
	}
	.rsmembership_form_table {

	}
}
#rsm_subscribe_default_form, #rsm_subscribe_preview_form {
	.rsmembership_form_table {
		tr:nth-last-child(2), tr:nth-last-child(1), tr:nth-last-child(3) {
			td {
				height: 0;
			}
		  
		}
	}
}
.directory-list {
	form {
		display: flex;
		justify-content: center;
		@media only screen and (max-width: 639px) {
			flex-direction: column;
		}
	}
	.button {
		border-radius: 0 30px 30px 0;
		height: 40px;
		line-height: 40px;
		@media only screen and (max-width: 768px) {
			padding-left: 20px;
		}
		@media only screen and (max-width: 639px) {
			border-radius: 0 0px 15px 15px;
		}
	}
	#keyword-input {
		width: 400px;
		border-radius: 30px 0 0 30px;
		@media only screen and (max-width: 639px) {
			width: 100%;
			border-radius: 15px 15px 0 0;
		}
	}
	.uk-select {
		width: auto;
	}
	.gz-alphanumeric-btn {
		display: flex;
		justify-content: center;
		width: 100%;
		overflow-x: auto;
		.gz-alpha-btns {
			color: $blue;
			background-color: #0000000a;
			border:1px solid $grid-border-2;
			padding: 0px 6px;
			width: 30px;
			text-align: center;
			box-sizing: border-box;
			&.active {
				color: $white;
				background: $blue;
			}
			&.all {
				width: 40px;
			}
		}

	}
}
.pagination {
	margin: 18px 0;
	ul {
		display: flex;
		*display: inline;
		*zoom: 1;
		margin-left: 0;
		margin-bottom: 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		overflow: scroll;
		justify-content: center;
		> li {
			font-size: 13px;
			display: inline-block;
			margin-left: 0;
			padding-left: 0;
			>span.pagenav {
				background-color: $blue;
				color: #FFF
			}
			&.pagination-start, &.pagination-prev, &.pagination-next, &.pagination-end{
				span {
					opacity: .5;
					background-color: #fff;
					color: $text-color;
				}
			}
			&.pagination-prev {
				
				a,span {
					position: relative;
					padding: 8px 15px 8px 30px;
					&:after {
						content: "";
						display: inline-block;
						background-image: url(../images/icon/paginationarrow.svg);
						background-repeat: no-repeat;
						width: 11px;
						height: 9px;
						position: absolute;
						left: 15px;
						top: 13px;
						transform: rotate(180deg);
					}
				}
				a {
					&:hover {
						&:after {
							background-image: url(../images/icon/paginationarrow-white.svg);
						}
					}
				}
			}
			&.pagination-next {

				a,span {
					position: relative;
					padding: 8px 30px 8px 15px;
					&:after {
						content: "";
						display: inline-block;
						background-image: url(../images/icon/paginationarrow.svg);
						background-repeat: no-repeat;
						width: 11px;
						height: 9px;
						position: absolute;
						right: 15px;
						top: 13px;
					}
				}
				a {
					&:hover {
						&:after {
							background-image: url(../images/icon/paginationarrow-white.svg);
						}
					}
				}
			}
			&.pagination-start {
				
				a,span {
					position: relative;
					padding: 8px 15px 8px 30px;
					&:after {
						content: "";
						display: inline-block;
						background-image: url(../images/icon/twoarrows.svg);
						background-repeat: no-repeat;
						width: 11px;
						height: 9px;
						position: absolute;
						left: 15px;
						top: 13px;
						transform: rotate(180deg);
					}
				}
				a {
					&:hover {
						&:after {
							background-image: url(../images/icon/twoarrows-white.svg);
						}
					}
				}
			}
			&.pagination-end {
				
				a,span {
					position: relative;
					padding: 8px 30px 8px 15px;
					&:after {
						content: "";
						display: inline-block;
						background-image: url(../images/icon/twoarrows.svg);
						background-repeat: no-repeat;
						width: 11px;
						height: 9px;
						position: absolute;
						right: 15px;
						top: 13px;
					}
				}
				a {
					&:hover {
						&:after {
							background-image: url(../images/icon/twoarrows-white.svg);
						}
					}
				}
			}
			&:first-child {
				a,span {
					border-left-width: 1px;
					-webkit-border-top-left-radius: 4px;
					-moz-border-radius-topleft: 4px;
					border-top-left-radius: 4px;
					-webkit-border-bottom-left-radius: 4px;
					-moz-border-radius-bottomleft: 4px;
					border-bottom-left-radius: 4px;
				}
			}
			&:last-child {
				a,span {
					-webkit-border-top-right-radius: 4px;
					-moz-border-radius-topright: 4px;
					border-top-right-radius: 4px;
					-webkit-border-bottom-right-radius: 4px;
					-moz-border-radius-bottomright: 4px;
					border-bottom-right-radius: 4px;
				}
			}
			a,span {
				float: left;
				padding: 8px 15px;
				line-height: 18px;
				text-decoration: none;
				background-color: #fff;
				border: 1px solid #ddd;
				border-left-width: 0;
			}
			> a {
				&:hover, &:focus {
					background-color: $blue;
					color: #FFF;
				}
			}
			

		}
		> .active {
			a,span {
				background-color: #f5f5f5;
				color: $text-color;
				cursor: default;
			}
		}
		.disabled {
			> span {
				color: $text-color;
				background-color: transparent;
				cursor: default;
			}
			> a {
				color: $text-color;
				background-color: transparent;
				cursor: default;
				&:hover, &:focus {
					color: $text-color;
					background-color: transparent;
					cursor: default;
				}
			}
		}
	}
}