.home-banner,.product-video{
	height: calc(100vh - 47px);
	position: relative;
	width: 100%;
	overflow: hidden;
	background-image: url('/images/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	@media only screen and (max-width: 768px) {
		height: calc(100vh - 47px);
	}
	
	video {
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		@media only screen and (max-width: 639px) {
			
		}
	}
	.scrollto {
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%);
		.icon {
		    color: $blue;
		    display: flex;
		    position: relative;
		    width: 1.5rem;
		    height: 2.5rem;
		    border: 2px solid $blue;
		    border-radius: 1rem;
		    justify-content: center;
		    &:before {
			    content: "";
			    position: absolute;
			    top: .3125rem;
			    width: .35rem;
			    height: .35rem;
			    background: currentcolor;
			    border-radius: 100%;
			    animation: scrollhint 2s infinite;
			}
		}
		@keyframes scrollhint {
			0% {
			    transform: translate(0,0);
			    opacity: 0;
			}
			40% {
			    opacity: 1;
			}
			80% {
			    transform: translate(0,1.5rem);
			    opacity: 0;
			}
			100% {
			    opacity: 0;
			}
		}
	}
	
}
.mod-banner {
	position: relative;
	height: calc(100vh - 100px);
	background-image: url('/images/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	h1 {
		font-size: 66px;
		line-height: 77px;
		font-weight: bold;
	}
	.content {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.content-inner {
			max-width: 715px;
			text-align: center;
			h1 {
				color: $white;
			}
		}
	}
	
}
.banneritem {
	    display: flex;
    	align-self: center;

	}
.page-header-1 {
	padding-top: 300px;
	padding-bottom: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	p,h1,h4, a {
		color: $white;
	}
	a {
		&:hover {
			color: $blue;
		}
	}
	p{
		margin-bottom: 10px;
	}
}
.page-header-2 {
	text-align: center;
	h5 {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}
.page-header-2-image {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top:0;
		left: 0;
		background: $light-bg;
		height: 60%;
		width: 100%;
		z-index: -1;
	}
}
.mod-about {
	.content {
		max-width: 580px;
		p {
			max-width: 415px;
		}
	}
}
.mod-about-2 {
	.video-wrap {
		border-radius: 20px;
		position: relative;
		img {
			border-radius: 20px;
		}
		.play {
			position: absolute;
			top:50%;
			left:50%;
			transform: translate(-50%,-50%);

		}
		svg {
			fill {
				@extend .transition300ms;
			}
			
		}
		a:hover {
			svg {
				.circle{
					fill: $white;
				}
				.arrow {
					fill: $red;
				}
			}
		}
	}
}

.mod-about-3 {
	ul {
	  columns: 2;
	  -webkit-columns: 2;
	  -moz-columns: 2;
	}
}
.mod_partner {
	.intro {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}
.card-1 {
	border: 1px solid $grid-border-2;
	border-radius: 15px;
	padding: 30px;
	.icon { 
		margin-right: 10px;
	}
	.location {
		max-width: 208px;
		margin-left: 27px;
		position: relative;
		display: inline-block;
	}
	.addeventatc {
		box-shadow: none !important;
		background-image: none;
		font-family: $font1 !important;
		color: $blue !important;
		font-weight: normal !important;
		padding: 0px 0px 0px 27px !important;
		.addeventatc_icon {
			background: url(../images/icon/plus.svg);
			width: 12px;
			height: 12px;
			left: 0;
			top: 0;
		}
	}
	.button {
		width: 100%;
		text-align: center;
	}
}
.card-map {
	border-radius: 15px;
	overflow: hidden;
	iframe {
		width: 101%;
	}
}
.card-share {
	display: flex;
	.icon-outer {
		width: 30px;
		height: 30px;
		background: $blue;
		color: $white;
		display: flex;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}
}

ul.uk-accordion {
	li {
    	list-style-type: none;
    	margin-left: 0;
    	padding-left: 0;
    }
    .uk-accordion-title {
		font-size: 16px;
		font-weight: 500;
	}
	.uk-accordion-content {
	    margin-top: -10px;
	}
}
.icon {
	display: inline-block;
	position: relative;
	top: 1px;
	&.icon-calender {
		background: url(../images/icon/calender-blue.svg);
		width: 14px;
		height: 14px;

	}
	&.icon-location {
		background: url(../images/icon/location-blue.svg);
		width: 14px;
		height: 21px;
		top: 4px;
	}
	&.icon-member {
		background: url(../images/icon/member-blue.svg);
		width: 21px;
		height: 20px;
		top: 4px;
	}
	&.icon-nonmember {
		background: url(../images/icon/nonmember-blue.svg);
		width: 21px;
		height: 20px;
		top: 4px;
	}
	&.icon-time {
		background: url(../images/icon/time-blue.svg);
		width: 14px;
		height: 14px;
	}
	&.icon-download {
		background: url(../images/icon/download-blue.svg);
		width: 15px;
		height: 15px;
	}
}
.card-event {
	.item {
		border-radius: 15px;
		overflow: hidden;
		background: $white;
		height: 100%;
		position: relative;
	}
	.content {
		padding:20px; 
		display: flex;
		flex-direction: row;
		padding-bottom: 55px;
		
	}
	.content-content {

		.readmore {
			position: absolute;
			margin-bottom: 0;
			bottom: 25px;
		}
	}
	
	.time {
		font-size: 11px;
		line-height: 17px;
		color: $text-color;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.content-date {
		width: 25px;
		display: flex;
		flex-direction: column;
		justify-content: start;
		margin-right: 20px;
		.day  {
			font-weight: bold;
			font-size: 21px;
			line-height: 25px;
			color: $text-color;
			margin: 0;
			text-align: center;
		}
		.month{
			font-style: normal;
			font-weight: bold;
			font-size: 12px;
			line-height: 14px;
			color: $red;
			text-transform: uppercase;
			margin: 0;
			margin-top: 8px;
			margin-bottom: 8px;
			text-align: center;
			width: 26px;
		}
	}
	a:hover {
		.readmore {
			color: $blue;
		}
	}
	
}
.events-detail {
	.banneritem {
		img {
			max-height: 65px;
		}
	}
}
.events-list {
	.js-filter {
		.uk-subnav {
			display: flex;
			flex-direction: column;
		}
	}
	.filter-original {
		height: 0;
		opacity: 0;
	}
	#filter-btn {
		padding-top: 50px;
		padding-bottom: 30px;
		display: flex;
		justify-content: center;
	}
	.select-outer {
		border: 1px solid #000;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 20px;
	}
	.uk-select {
		border: none;
		color: $text-color;
		
		
		background: transparent;
		height: 46px;
		line-height: 46px;
		font-family: $font1;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;
	}
}
.mod-events {

	.top {
		display: flex;
		align-items: center;
		h2 {
			display: inline-block;
		}
		#filter-btn{
			padding: 0;
			display: flex;
			margin-left: auto;
		}
	}
	.slide {
		
			padding: 20px;
		
		
	}
	.slick-track
		{
		    display: flex !important;
		}

		.slick-slide
		{
		    height: inherit !important;
		}
	/**
	 *  Progress Bar
	 */
	.progress {
	  display: block;
	  width: calc(50% - 20px);
	  height: 2px;
	  border-radius: 0px;
	  overflow: hidden;
	  
	  background-color: #d2d2d2;
	  background-image: linear-gradient(to right, black, black);
	  background-repeat: no-repeat;
	  background-size: 0 100%;
	  
	  transition: background-size .4s ease-in-out;
	}
	.sr-only {
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  padding: 0;
	  margin: -1px;
	  overflow: hidden;
	  clip: rect(0,0,0,0);
	  border: 0;
	}


}
.mod-services {
	.top {
		text-align: center;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
	.grid-container-medium {
		padding-left: 60px;
		padding-right: 60px;
	}
	.item {
		padding: 50px 20px 20px 20px;
		text-align: center;
		
		height: 100%;
		position: relative;
		border-radius: 15px;
		&:hover {
			background: $white;
			.readmore {
				opacity: 1;
			}
		}
		.image {
			height: 200px;
			display: flex;
			width: 100%;
			align-items: end;
			justify-content: center;
		}
	}
	.readmore {
		position: absolute;
		margin-bottom: 0;
		bottom: 30px;\width: 100%;
		text-align: center;
		left: 0;
		opacity: 0;
	}
	.content {
		padding-bottom: 55px;
	}
}
.article-default {
	@media only screen and (max-width: 1000px) {
		overflow: hidden;
	}
	.image {
		img {
			width: 100%;
			height: auto;
		}
	}
	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
	h3 {
	    margin-bottom: 16px;
	}
}
.generalpages-detail {
	.layout2 {
		.article-default {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;

		}
		img {
			border-radius: 15px;
		}
	}
	.layout3 {
		.article-default {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;

		}
		img {
			border-radius: 15px;
		}
		.content-left {
			height: 100%;
			display: flex;
			align-items: center;
			.content-vcenter {

			}
		}
		.layout3-grid {
			&:nth-child(odd) {
			  .content-left {
			  	margin-right: 100px;
			  }
			}

			&:nth-child(even) {
			  flex-direction: row-reverse;
			  .content-left {
			  	margin-left: 100px;
			  }
			}
		}
	}
	.layout4, .layout5 {
		img {
			margin-bottom: 10px;
			margin-bottom: 10px;
			height: 84px;
			width: auto;
			object-fit: contain;
		}
		.readmore {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
		.content {
			height: 100%;
			position: relative;
			padding-bottom: 10px;
		}
		.intro {
			max-width: 700px;
			margin-left: auto;
			margin-right: auto;

		}
	}
}
.annual-reports {
	.button + .button {
		margin-left: 30px;
	}
	.button {
		.icon {
			margin-right: 10px;
			top: 3px;
			display: inline-block;
		}
	}
}