<?xml version="1.0" encoding="utf-8"?>
<extension type="component" version="3.0" method="upgrade">
    <name>com_events</name>
    <creationDate>2019-10-19</creationDate>
    <copyright>Copyright (C) 2019. All rights reserved.</copyright>
    <license>GNU General Public License version 2 or later; see LICENSE.txt</license>
    <author>Shusmita Anwar Sharna</author>
    <authorEmail>tech@360south.com.au</authorEmail>
    <authorUrl>http://www.360south.com.au/</authorUrl>
    <version>1.0.0</version>
    <description>New</description>
    
    <install> <!-- Runs on install -->
        <sql>
            <file driver="mysql" charset="utf8">sql/install.mysql.utf8.sql</file>
        </sql>
    </install>
    <uninstall> <!-- Runs on uninstall -->
        <sql>
            <file driver="mysql" charset="utf8">sql/uninstall.mysql.utf8.sql</file>
        </sql>
    </uninstall>

    <files folder="site">
        <filename>index.html</filename>
        <filename>events.php</filename>
        <filename>controller.php</filename>
        <filename>router.php</filename>
        <folder>views</folder>
        <folder>models</folder>
        <folder>controllers</folder>
        <folder>helpers</folder>
    </files>
    <languages folder="site">
        
			<language tag="en-GB">language/en-GB.com_events.ini</language>
    </languages>
    <administration>
        <menu img="components/com_events/assets/images/s_com_events.png" >COM_EVENTS</menu>
        <submenu>
            
			<menu link="option=com_events&amp;view=items" view="items" img="components/com_events/assets/images/s_items.png" alt="Events/Items">COM_EVENTS_TITLE_ITEMS</menu>

        </submenu>
        <files folder="administrator">
            <filename>access.xml</filename>
            <filename>config.xml</filename>
            <filename>controller.php</filename>
            <filename>index.html</filename>
            <filename>events.php</filename>
            <folder>controllers</folder>
            <folder>assets</folder>
            <folder>helpers</folder>
            <folder>models</folder>
            <folder>sql</folder>
            <folder>tables</folder>
            <folder>views</folder>
        </files>
        <languages folder="administrator">
            
			<language tag="en-GB">language/en-GB.com_events.ini</language>
			<language tag="en-GB">language/en-GB.com_events.sys.ini</language>
        </languages>
    </administration>
</extension>
<!-- Component built by the Joomla Component Creator -->
<!-- http://www.notwebdesign.com/joomla-component-creator/ -->
